
.vs/

MattEland.Starship.ProcessingService.v3.ncrunchsolution.user

MattEland.Starship.Tests/bin/

MattEland.Starship.Tests/obj/

MattEland.Starship.ProcessingService/bin/

MattEland.Starship.ProcessingService/obj/

MattEland.Starship.Logic/bin/

MattEland.Starship.Logic/obj/

NDependOut/NDependReportFiles/

NDependOut/2019_09/

NDependOut/InfoWarnings.xml

*.ndar

NDependOut/NDependReport.html

MattEland.AI.BehaviorTrees/bin/

MattEland.AI.BehaviorTrees/obj/

MattEland.AI.BehaviorTrees.Tests/bin/

MattEland.AI.BehaviorTrees.Tests/obj/
