
.vs/

MattEland.Starship.ProcessingService.v3.ncrunchsolution.user

MattEland.Starship.Tests/bin/

MattEland.Starship.Tests/obj/

MattEland.Starship.ProcessingService/bin/

MattEland.Starship.ProcessingService/obj/

MattEland.Starship.Logic/bin/

MattEland.Starship.Logic/obj/
